{% extends "index.html" %}
{% load static %}
{% block body_block %}

<!----<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-------about us------->
<section id="testimonials">
    <div class="container">
	 <h1 class="head">About Us</h1>
	<!-- <p class="text-center">Subscribe For More Information</p>-->
	 <div class="row">
		 <div class="col-md-6 text-center">
		 <div class="profile">
			 <h3>Human Skin Color Detection</h3>
		 <blockquote>Skin detection is the process of finding skin-colored pixels and regions in an image or a video. This process is typically used as a preprocessing step to find regions that potentially have human faces and limbs in images. Skin image recognition
	                is used in a wide range of image processing applications like face recognition, skin disease detection, gesture tracking and human-computer interaction. The primary key for skin recognition from an image is the skin color. But color cannot
	                be the only deciding factor due to the variation in skin tone according to different races. Other factors such as the light conditions also affect the results. Therefore, the skin tone is often combined with other cues like texture and
	                edge features. This is achieved by breaking down the image into individual pixels and classifying them into skin colored and non-skin colored.</blockquote>

		 </div>
		 </div>
	 <div class="col-md-6 text-center">
	 <div class="profile definition">
		 <h3>How do you know about skin color?</h3>
	 <blockquote>In natural light, check the appearance of your veins beneath your skin.<br> 1. If your veins appear blue or purple, you have a cool skin tone.<br> 2. If your veins look green or a greenish blue, you have a warm skin tone.<br> 3. If you can't
            tell whether or not your veins are green or blue, you probably have a neutral skin tone.</blockquote>

	 </div>
	 </div>


	 </div>
	 <div class="row">
		 <div class="col-md-6 text-center">
		 <div class="profile">
			 <h3>What we do?</h3>
		 <blockquote>human skin detection is used as baseline for comparing results. The images in this dataset are uploaded by you for skin color detection. These images are captured with a range of different cameras using different colour enhancement and under
                different illuminations. The dataset also contains Ground Truth images for sample images in dataset.<br>
                Additionally some sample images were collected from internet. Fig.shows the results obtained from the algorithm on sample images. The bar chart is represents the number of skin pixels detected in the three different color spaces RGB for three
                images respectively 6a)-6c). All three color spaces are almost equally contributing in the process of skin pixel identification.</blockquote>

		 </div>
		 </div>
	 <div class="col-md-6 text-center">
	 <div class="profile definition image">
	 <img  src="{% static 'images/child.png'%}" alt="">

	 </div>
	 </div>


	 </div>
    </div>
</section>
<!------about us------>
{% endblock %}
