{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>skintone</title>
    <script >
	function clickme()
	{
		var b=document.getElementById('abc').value;
		var c=document.getElementById('abcd').value;


		if(b=="" && c=="")
		{
			alert('all field required and must be in their data type');

			return false;
		}
}
function showOrHideDiv() {
      var v = document.getElementById("showOrHide");
      if (v.style.display === "none") {
         v.style.display = "block";
      } else {
         v.style.display = "none";
      }
   }
</script>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
</head>
<body>
<!-----NavigationBar---->
<section id="nav-bar">
	<nav class="navbar navbar-expand-lg navbar-light  ">
  <a class="navbar-brand" href="#"><h3>Skintone</h3><!--<img src="images/logo.png">--></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'webpage1' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'webpage3' %}">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'webpage2' %}">Contact Us</a>
      </li>

    </ul>
  </div>
</nav>
</section>
{% block body_block %}

<!--------slider------->
<section id="promo" >
<div class="container">
	<p>Get your Skintone color</p>
	<a href="{% url 'webpage4' %}"  class="btn btn-primary">Upload details</a>
</div>
</section>
<!----------promo------------>

<!-------about us------------>
<section id="about">
<div class="container">
<div class="row">
<div class="col-md-6">
<h2> Welcome to the Human Skin Color Detection</h2>
<span class="about-content">
	Skin color detection has been used in numerous computer vision applications like face detection, nudity recognition, hand gesture<br> detection and person identification. Skin color detection is often<br> used as a preliminary step in these applications. Color is the most<br> robust and useful clue for skin detection and also allows fast....
</span>
<div id="showOrHide">
  processing of the skin patterns. Other cues like shape and geo-<br>-metry can be used to build accurate face detection systems. In <br>this project we are supposed to design a web portal which takes<br> the  images  processes it and gives the output whether the skin<br> tone is fair,mild or dark.
</div>
<button onclick="showOrHideDiv()" type="button" class="btn btn-primary"> Read more>> </button>
</div>
<div class="col-md-6 skills-bar">
	<p>Fairy Skin </p>
	<div class="progress">
	<div class="progress-bar" style="width:80%;background-color:#f1ca89 !important;">80%</div>
	</div>
	<p>Mild skin </p>
	<div class="progress">
	<div class="progress-bar" style="width: 75%;background-color:#cc9b6d !important;">85%</div>
</div>
<p>Dark Skin</p>
<div class="progress">
	<div class="progress-bar" style="width:70%;background-color:#766161 !important; ">75%</div>
</div>
</div>
</div>
</div>
</section>
<!---------about us----------->
<!-----------footer-------->
{% endblock %}
<section id="footer">
<div class=" text-center">
	<p> © Copyright 2021, Skin Color Detection</p>
  <a style="color:cadetblue;" href="disclaimer.html">Disclaimer</a> |
        <a style="color:cadetblue;" href="contact.html">Contact Us</a>
</div>
</section>
<!---------footer----------->
  </body>
</html>
