
{% extends "home.html" %}
{% load static %}
{% block body_block %}

  <!---contact----->
<section id="contact">
	<div class="container">
		<h1>Get in Touch</h1>
		<div class="row">
			<div class="col-md-6">
				<h4 id="details">Connect With Us</h4>
			<form class="contact-form" action="{% url 'thanku' %}"  onsubmit="clickme()" >
				<div class="form-group">
					<input type="text" id="ab" class="form-control" placeholder="Your-name" required>
				</div>
				<div class="form-group">
					<input type="number" id="abc" class="form-control" placeholder="Phone no."required>
				</div>
				<div class="form-group">
					<input type="email"  id="abcd" class="form-control" placeholder="email-id" required>
				</div>
                 <div class="form-group">
					<textarea class="form-control"  row="4" placeholder="Message"></textarea>
				</div>
				<button type="submit" class="btn btn-primary" onclick="clickme()">Submit</button><span id="contact1"></span>
			</form>
			</div>
			<div class="col-md-6 contact-info">
			<h4 id="details" >Our Details</h4>
			<div class="follow"><b> Address:</b><i class="fa fa-map-marker"></i>
             XYZ Road,India, IN</div>
			<div class="follow"><b>Phone:</b><i class="fa fa-phone"></i>
            +1 1234567890</div>
			<div class="follow"><b>Email:</b><i class="fa fa-envelope-o"></i>
            example@website.com</div>
			<div class="follow"><label><b>Get Social:</b></label>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-youtube-play"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
			</div>
			</div>
		</div>
	</div>

</section>
{% endblock %}


<!-------
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="utf-8">
    <title>Contact Us</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">


        <div class="container-fluid">
            <img src="" alt="" height="80px" width="200px">

            <a class="navbar-brand" href=""></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto" style="font-size: 20px;">
                    <li class="nav-item active">
                        <a class="nav-link" href="">Home</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Know More
                  </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" href="">About Us</a>
                            <a class="dropdown-item" href="">Learn More<br>(about SkinTones)</a>
                            </div>
                    </li>


                    <li class="nav-item active">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 style="
    color:white;
    background-color: darkgray;
    margin-bottom: -11px;
    border-bottom: 5px solid black;"> &nbsp; &nbsp; Contact Us</h1>
    <br>
    <br>
    <div class="container">
        <form action="">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationServer01">First name:</label>
                    <input type="text" class="form-control" id="validationServer01" placeholder="first name" required="">
                    <div class="valid-feedback">Valid</div>
                    <div class="invalid-feedback">Please enter your name</div>


                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationServer02">Last name:</label>
                    <input type="text" class="form-control" id="validationServer02" placeholder="last name">

                </div>
            </div>
            <div class="form-group">

                <label for="exampleInputEmail1">Contact Number</label>

                <input type="number" class="form-control" placeholder="contact number" required="">
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">Please fill out this field</div>

            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" placeholder="email address" required="" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">Please enter a valid email id</div>

            </div>
            <div class="my-4">
                <label for="validationTextarea">Textarea:</label>
                <textarea class="form-control" placeholder="Please enter a message in the textarea." required=""></textarea>
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">Please enter a valid email id</div>
            </div>

            <input type="submit" class="btn-btn-primary" value="submit">

        </form>
    </div>

    <hr>
    <div class="footer-content" style=" text-align: center;">
        © Copyright 2021, Skin Color Detection<br>
        <a style="color:cadetblue;" href="">Disclaimer</a> |
        <a style="color:cadetblue;" href="#">Contact Us</a>

    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>----->