
{% extends "home.html" %}
{% load static %}
{% block body_block %}

<div class="disclaimer container">

           <h1 >  Disclaimer</h1>
       <div class="disd"> The material on the website is general information and there has been no advertisement, personal communication, solicitation, invitation or inducement of any sort whatsoever from us or any of our members to solicit any work through this website.
        <br>The user confirms and acknowledges that:<br><br>
        <li>It wishes to know more about their real skin color</li>
        <li>There has been no solicitation, invitation or inducement of any sort whatsoever from the Firm or any of its members.</li>
        <li>The information provided on the website does not constitute legal advice, nor does it create an attorney-client relationships.</li>
        <li>It shall not hold the Firm responsible for any action taken relying upon the contents of the website. </li>
        <li> It has read and understood the disclaimer above.</li>
    </div>
  </div>
    {% endblock %}
