{% extends "home.html" %}
{% load static %}
{% block body_block %}
<style >
.thank{
height:500px;
background-color:#c8c2bc;
}
.thank h1{
  padding-top:200px;
  text-align: center;
  font-size: 30px;
  font-weight:50;
  font-family: "Times New Roman", Times, serif;
}
.thank p{
  text-align: center;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;

}
</style>


        <div class="thank">
            <h1 class="display-4" >ThankYou For Contact Us</h1>
            <p class="lead">We are really glad to have you on contacting to us and we'll soon send you a response to your email.</p>
        </div>



{% endblock %}
