*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body{
  font-family: monsterrat;
}

#nav-bar{
	position: sticky;
	top:0;
	z-index: 10;

}
.navbar-brand h3{
	color:#e36387;
	height: 40px;
	padding-left: 40px;
}
.navbar-nav li
{
	padding: 0 10px;

}
.navbar-nav li a
{
	float: right;
	text-align:left;
}
 a:hover
{
	color:#007bff! important;
}
.navbar
{
	background-color: #e6c4c0 !important;
}
.navbar-toggler{
	border: none ! important;
}
.nav-link{
	color: #555 ! important;
	font-weight: 600;
	font-size: 16px;
}
/*--------navbar--------*/

/*--------promo--------*/
#promo
{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/static/images/skin_tones.jpg);
	background-size: cover;
	padding-bottom: 70px;
	background-position:center;
	color:#fff;
	background-attachment: fixed;
  text-align: center;
	padding: 200px;
  padding-left: 0px;
	font-family: sans-serif;
	font-size: 38px;
}
#promo p{
   margin-left:120px;
}
#promo a{
   margin-left: 155px;
}
/*----------promo--------*/

/*--------Introduction--------*/
#about
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
#about .btn
{
	margin-bottom: 30px;
	margin-top: 20px;
}
.about-content
{
	padding-top:20px;
}
.skills-bar
{
 padding-top: 50px;
}
.skills-bar p
{
	margin-bottom: 10px;
	font-weight: 600;

}
.progress-bar
{
	border-radius: 15px;
}
.progress
{
	border-radius: 16px !important;
	margin-bottom: 20px;
}
/*----------Introduction--------*/
/*---------footer--------*/
#footer
{
	background:#333;
	color: #fff;
	padding:12px;
}
/*----------footer-------*/
/*---------contact form----*/
#contact
{
background-color: #efefef;
padding-top: 40px;
padding-bottom: 40px;
color: #777;
}
#contact h1
{
  text-align: center;
}
#details
{
  padding: 50px 0;
  text-align: center;
}
.contact-form
{
	padding:15px;
}
.form-control
{
	border-radius: 0 !important;
	border: none  ! important;
}
::placeholder
{
	color:#999 ! important;
}
.follow
{
	background: #fff;
	padding: 10px;
	margin: 10px;
}
.contact-info  .fa
{
	margin: 10px;
	color:#007bff;
	font-weight: bold;
}
/*--------contact form------*/
#testimonials
{
	padding-top: 50px;
	padding-bottom: 50px;
}
.head
{
	text-align: center;
	color:#555;
	padding-bottom: 10px;
}
head::after
{
	content:'';
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin: 20px auto 5px;
}
#testimonials .row
{
	margin-top:30px;
}
.profile
{
	padding:70px 10px 10px;
	background-color: #efefef;
}
.user
{
   width:120px;
   height: 120px;
   border-radius: 50%;
}
.profile h3
{
	font-size: 20px;
	color: #007bff;
}
blockquote
{
	font-size: 16px;
	line-height: 30px;
}
blockquote::before
{
   content :'"';
   font-size: 50px;
   color:#007bff;
   position: relative;
   line-height: 20px;
   bottom: -15px;
   right:5px;
}
blockquote::after
{
   content :'"';
   font-size: 50px;
   color:#007bff;
   position: relative;
   line-height: 10px;
   bottom: -15px;
   left:5px;
}
.profile:hover
{
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	cursor: pointer;
	transition: 0.5s;
}
.definition{
  padding:84px;
}
.images{
  padding:20px 20px 18px;
  background-color: #efefef;
}
.image img{
  padding-left:10px;
  height:270px;
  width:320px;
}
/*-------about------*/
/*------form---------*/
.form1{
 padding: 20px;
 display:grid;
 height:100%;
 place-items:center;
 text-align: center;
}
.conm{
  height: 500px;
  padding-top: 20px;
}
.wrapper{
 position:relative;
 padding:30px;
  height:300px;
  width:400px;
  border-radius:10px;
  background:#fff;
  border:2px dashed #c2cdda;
  display:flex;
  align-items:center;
  justify-content:center;
  overflow:hidden;
}
.wrapper .image{
position:absolute;
display:flex;
align-items:center;
justify-content:center;
}
.wrapper .image img{
 height:400px;
 width:430px;
 object-fit:cover;
}
.wrapper .icon{
 font-size:100px;
 color:#9658fe;
}
.wrapper .text{
 font-size:20px;
 font-weight:500;
 color:#585878;
}
#cancel-btn{
 position:absolute;
 right:15px;
 top:15px;
 font-size:20px;
 cursor:pointer;
 color:#9658fe;
 display:none;
}
.file-name{
 position:absolute;
 bottom:0px;
 width:100%;
 color:#fff;
 padding:8px 0;
 font-size:18px;
 display:none;
 background:linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}
#custom-btn{
 margin-top:20px;
 width:100%;
 height:50px;
 display:block;
 border:none;
 outline:none;
 color:#564a4a;
 font-weight:500;
 cursor:pointer;
 background-color:#e4efe7;
}
